
/* El documento de css custom.css establece los estilos para los elementos de scrollama */

/* Establece los estilos para los elementos con el ID scrolly*/
#scrolly {
		position: relative; /*posición del elemento como relativa con respecto a su posición normal en el flujo del documento*/
		background-color:white; /*Establece el color de fondo del elemento como blanco*/
		padding: 1rem;/*Agrega relleno de 1 rem alrededor del contenido del elemento*/
		}

/* Estilos para elementos "article" */
article {
    position: relative; /* Establece la posición como relativa */
    padding: 0; /* Elimina el relleno */
    max-width: 40rem; /* Ancho máximo de 40 rem */
    margin: 0 auto; /* Centra horizontalmente */
}

/* Estilos para elementos "figure" */
figure {
    position: -webkit-sticky; /* Para navegadores WebKit */
    position: sticky; /* Establece como elemento sticky */
    width: 100%; /* Ancho al 100% */
    margin: 0 auto; /* Centra horizontalmente */
    -webkit-transform: translate3d(0, 0, 0); /* Transformación 3D (propiedad para algunos efectos) */
    -moz-transform: translate3d(0, 0, 0); /* Transformación 3D (propiedad para algunos efectos) */
    transform: translate3d(0, 0, 0); /* Transformación 3D (propiedad para algunos efectos) */
    background-color: white; /* Fondo blanco */
    z-index: 0; /* Índice z en 0 (posición en la superposición) */
}

/* Estilos específicos para "figure" dentro de "#scrolly" */
#scrolly figure {
    background-repeat: no-repeat; /* Evita la repetición de fondo */
    background-position: center; /* Posición de fondo en el centro */
    background-image: url("img/diagrama_accidentes.svg"); /* Imagen de fondo */
    margin-top: -3rem; /* Desplazamiento hacia arriba */
    max-width: 992px; /* Ancho máximo de 992px */
    background-size: 100%; /* Escala de fondo al 100% */
}

figure p {
    text-align: center; /* Texto centrado horizontalmente */
    padding: 1rem; /* Relleno de 1rem */
    position: absolute; /* Posición absoluta */
    top: 50%; /* Arriba al 50% del contenedor */
    left: 50%; /* Izquierda al 50% del contenedor */
    -moz-transform: translate(-50%, -50%); /* Transformación para centrar */
    -webkit-transform: translate(-50%, -50%); /* Transformación para centrar */
    transform: translate(-50%, -50%); /* Transformación para centrar */
    font-size: 8rem; /* Tamaño de fuente grande */
    font-weight: 900; /* Grosor de fuente (muy negrita) */
    color: #fff; /* Color de texto blanco */
}

/* Estilos para elementos con la clase "step" */
.step {
    margin: 0 auto 15rem auto; /* Márgenes y centrado horizontal */
    color: #fff; /* Color de texto blanco */
    /*background-color: rgba(0, 0, 0, 0.1); */ /* Comentario deshabilitado */
}

/* Estilos para el último elemento con la clase "step" */
.step:last-child {
    margin-bottom: 0; /* Elimina el margen inferior */
}

/* Estilos para párrafos dentro de elementos con la clase "step" que también tienen la clase "is-active" */
.step.is-active p {
    background-color: goldenrod; /* Fondo dorado */
    color: #3b3b3b; /* Color de texto oscuro */
}

/* Estilos para párrafos dentro de elementos con la clase "step" */
.step p {
    text-align: justify; /* Justificar texto */
    padding: 2rem; /* Relleno de 2rem */
    font-size: 1.3rem; /* Tamaño de fuente */
    font-family: serif; /* Fuente serif */
    background-color: #3b3b3b; /* Fondo oscuro */
}
