
/*El documento de css style.css establece los estilos para los elementos de la web que están fuera de scrollama*/


/* Establece el modelo de caja "border-box" para todos los elementos */
* {
    box-sizing: border-box;
}

/* Elimina los márgenes y rellenos predeterminados de html y body */
html,
body {
    margin: 0;
    padding: 0;
}

/* Estilos generales para el cuerpo del documento */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 1280px;
    color: #3b3b3b;
    font-size: 24px;
}

/* Estilos para la barra superior en la página */
.barra_sup {
    width: 100%; /* Ancho máximo de la caja: 100% de la pantalla*/
    height: 60px; /* Altura de la caja */
    background-color: #B5B2B2; /* Color de fondo gris */
    justify-content:"center"; /* Elementos justificados al centro*/
    align-itmes:"center"; /* Centrados en vertical*/
}

/* Estilos para el texto dentro de la barra superior */
.texto_barra_sup {
    font-family:serif;
    font-size:0.8em;
    color:black;
}

/* Estilos generales para párrafos, encabezados y enlaces, especificando el margen y el grosor de la tipografía */
p,
h1,
h2,
h3,
h4,
a {
    margin: 0;
    font-weight: 400;
}

/* Estilos específicos para elementos con la clase "ladillo" */
.ladillo{
    font-family:serif; /* Letra con serifa */
    font-weight:bold;  /* Negrita */
    color:black;
    font-size:1.8rem;
    text-align:left;
}

/* Establece los estilos para enlaces normales, enlaces visitados y enlaces cuando se pasa el mouse por encima */
a,
a:visited,
a:hover {
    color: teal;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
}

/* Estilos para los elementos con el ID "intro" */
#intro {
    max-width: 75rem;
    margin: 2rem auto;
    text-align: center;
    margin-bottom:30px;
}

/* Estilos para elementos con la clase "subtitulo" */
.subtitulo {
    font-family:"Times New Roman", serif;
    color:black;
    font-size: 1.3em;
    margin: 2rem auto 2rem auto;
    max-width:80%;
    text-align:left;
}

/* Estilos para elementos con la clase "intro__hed" */
.intro__hed {
    font-family:"Times New Roman", serif;
    color: #000000;
    font-size: 1.8em;
    margin: 2rem auto 1.5rem auto;
    max-width: 80%;
    text-align:left;
}

/* Estilos para un elemento con la clase "intro__dek" */
.intro__dek {
    color: black;
    font-size: 22px;
    text-align:justify;
    max-width: 100%;
    font-family:"Times New Roman", serif;
}

/* Estilos para un bloque de texto */
.bloque_texto {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
}

/* Estilos para un pie de foto */
.pie_foto{
    color: black;
    background-color:white;
    font-size:1rem;
    text-align:left;
    font-family:serif;
    
}

/* Estilos para elementos con la clase "texto_scroll" */
.texto_scroll{
    color:black;
    font-size: 2em;
}

/* Establece una altura para un elemento con el ID "outro" */
#outro {
    height: 640px;
}

/* Estilos para elementos con la clase "nav__examples" en pantallas grandes */
@media (min-width: 840px) {
    .nav__examples {
        margin-top: 0;
        margin-left: 2rem;
    }
}

/* Estilos para imágenes */
.img {
    max-width: 100%; /* Ensures images don't exceed their container's width */
    height: auto; /* Allows images to scale proportionally */
}

/* Estilos para un elemento con la clase "lightable-material" */
.lightable-material{
    font-size:0.8em;
    max-width:100%;
}

/* Estilos para elementos con la clase "caja_fuentes" */
.caja_fuentes {
    color: black;
    background-color:#ececec;
    font-size: 22px;
    text-align:justify;
    max-width: 100%;
    font-family:"Times New Roman", serif;
}
